[submodule "ci-box-lava-worker"]
	path = ci-box-lava-worker
	url = ssh://rdsw@10.88.88.8/volume1/internal_git/lavalab/ci-box-lava-worker.git
	branch = lava-docker
[submodule "ci-box-lava-master"]
	path = ci-box-lava-master
	url = ssh://rdsw@10.88.88.8/volume1/internal_git/lavalab/ci-box-lava-master.git
	branch = lava-docker
[submodule "ci-box-fileserver"]
	path = ci-box-fileserver
	url = ssh://rdsw@10.88.88.8/volume1/internal_git/lavalab/ci-box-fileserver.git
	branch = healthcheck
[submodule "ci-box-squad"]
	path = ci-box-squad
	url = ssh://rdsw@10.88.88.8/volume1/internal_git/lavalab/ci-box-squad.git
	branch = tn-squad
[submodule "ci-box-jenkins"]
	path = ci-box-jenkins
	url = ssh://rdsw@10.88.88.8/volume1/internal_git/lavalab/ci-box-jenkins.git
[submodule "ci-box-builders"]
	path = ci-box-builders
	url = ssh://rdsw@10.88.88.8/volume1/internal_git/docker.git
	branch = builder
[submodule "ci-box-postgres"]
	path = ci-box-postgres
	url = ssh://rdsw@10.88.88.8/volume1/internal_git/docker.git
	branch = database
