[submodule "ci-box-lava-worker"]
	path = ci-box-lava-worker
	url = https://github.com/smileylab/ci-box-lava-worker.git
	branch = lava-worker
[submodule "ci-box-lava-master"]
	path = ci-box-lava-master
	url = https://github.com/smileylab/ci-box-lava-master.git
	branch = lava-master
[submodule "ci-box-fileserver"]
	path = ci-box-fileserver
	url = https://github.com/smileylab/ci-box-fileserver.git
	branch = healthcheck
[submodule "ci-box-squad"]
	path = ci-box-squad
	url = https://github.com/smileylab/ci-box-squad.git
	branch = tn-squad
[submodule "ci-box-jenkins"]
	path = ci-box-jenkins
	url = https://github.com/smileylab/ci-box-jenkins.git
	branch = lavalab-jenkins
[submodule "ci-box-builders"]
	path = ci-box-builders
	url = https://github.com/smileylab/ci-box-builders.git
	branch = main
[submodule "ci-box-postgres"]
	path = ci-box-postgres
	url = https://github.com/smileylab/ci-box-postgres.git
	branch = main
[submodule "docker-udev-tools"]
	path = docker-udev-tools
	url = https://git.lavasoftware.org/lava/docker-udev-tools.git
	branch = master
